<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}
    <header id="header">
        <a href="/" class="logo" class="nav-link">
            <h2>Football addiction</h2>
        </a>
        <nav class="row">
            <a class="col-4" href="/" class="nav-link">Inicio</a>
            <a class="col-4" href="/futbol.html" class="nav-link">Futbol</a>
            <a class="col-4" href="/nueva.html" class="nav-link">Información</a>
            <a class="col-4" href="/verFutbolistas" class="nav-link">Tabla</a>
        </nav>
    </header>
    {% endblock %}
</head>
<body>
    <div>{% block content %}{% endblock %}</div>
</body>
<footer>
    {% block footer %}
    <footer>
        <a href="#header">Football addiction</a>
    </footer>
    {% endblock %}
</footer>
</html>